* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f8f5f2;
}

body {
    background-color: rgb(237, 214, 205);
}

header {
    margin: 10px 20px;
}

nav {
    border-radius: 100px;
    background-color: rgb(74, 66, 66);
    color: azure;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#logo h2 {
    transition: all 0.2s ease;
}

#logo h2:hover {
    transform: scale(1.2);
    color: rgb(203, 131, 201);
}

.tab {
    align-items: center;
    min-height: 10vh;
    width: 300px;
    display: flex;
    justify-content: space-between;
    gap: 25px;
    list-style: none;
}


ul li a {
    padding: 5px;
    text-decoration: none;
    color: antiquewhite;
    transition: all 0.2s ease;
}

ul li a:hover {
    transform: scale(1.5);
    color: rgb(203, 131, 201);
}